<!DOCTYPE html>

<html>

	<head>
		<% include ../partials/head %>
	</head>

	<body>
		<header class="jumbotron">
			<% include ../partials/header %>
		</header>

		<main>

			<div class="container">
				<div class="row">
					<a href="/addWorkout" class="btn btn-primary entry-button center-button">Add an entry</a>
				</div>
				<table class="table">
					<thead>
						<tr>
						<th>Date</th>
						<th>Total Time</th>
						<th>Distance</th>
						<th>Difficulty</th>
						</tr>
					</thead>
					<tbody>
						<% for (var i = 0; i < workouts.length && i < 7; i++) { %>
							<tr>
<!--								<td><%= JSON.stringify(workouts[i]) %></td>-->
								<td><%= workouts[i].date %></td>
								<td><%= workouts[i].totalTime %></td>
								<td><%= workouts[i].distance %></td>
								<td><%= workouts[i].difficulty %></td>
							</tr>
						<% } %>
					</tbody>
				</table>
			</div>

		</main>

		<footer>
			<% include ../partials/footer %>
		</footer>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</body>

</html>
